<a href="https://colab.research.google.com/github/ananyapoonsawat/BSC_DPDM23/blob/main/midterm_bscdpdm23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

เตรียมข้อมูลอุตุนิยมวิทยา (https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)

ให้เตรียมข้อมูลลักษณะอากาศของแต่ละวัน (แก้ missing, noise, ฯลฯ ) และสร้างตารางเพื่อทำการทำนาย ปริมาณน้ำฝนสำหรับจังหวัดขอนแก่นของวันถัดไป (ปริมาณน้ำฝนขอนแก่นของวันที่ D+1) จากข้อมูลลักษณะอากาศในจังหวัดต่างๆ (ขอนแก่น,หนองคาย,นครพนม,เลย,สกลนคร) ของวันปัจจุบัน (อุณหภูมิตุ้มแห้งขอนแก่นของวันที่ D,...,ความเร็วลมสกลนครของวันที่ D)


ตัวอย่างตารางที่ต้องการ (Xi มีทั้งหมด 5จังหวัด * 8ลักษณะอากาศ = 40 columns และ Y อีก 1 columns)

![image.png]()

#Import library , drive

In [9]:
import numpy as np
import pandas as pd
import os
from google.colab import drive

In [10]:
drive.mount('/content/drive')

Mounted at /content/drive

#Import Data

In [31]:
#ความกด(เปอร์เซ็นต์)
AP_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความกด(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx",header=4)
AP_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความกด(เปอร์เซ็นต์)/จ.นครพนม.xlsx",header=4)
AP_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความกด(เปอร์เซ็นต์)/จ.สกลนคร.xlsx",header=4)
AP_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความกด(เปอร์เซ็นต์)/จ.หนองคาย.xlsx",header=4)
AP_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความกด(เปอร์เซ็นต์)/จ.เลย.xlsx",header=4)

In [30]:
#ความชื้นสัมพัทธ์(เปอร์เซ็นต์)
RM_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความชื้นสัมพันธ์(เปอร์เซ็นต์)/จ.ขอนแก่น.xlsx",header=4)
RM_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความชื้นสัมพันธ์(เปอร์เซ็นต์)/จ.นครพนม.xlsx",header=4)
RM_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความชื้นสัมพันธ์(เปอร์เซ็นต์)/จ.สกลนคร.xlsx",header=4)
RM_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความชื้นสัมพันธ์(เปอร์เซ็นต์)/จ.หนองคาย.xlsx",header=4)
RM_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความชื้นสัมพันธ์(เปอร์เซ็นต์)/จ.เลย.xlsx",header=4)

In [28]:
#ความเร็วลม(นอต)
WV_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความเร็วลม(นอต)/จ.ขอนแก่น.xlsx",header=4)
WV_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความเร็วลม(นอต)/จ.นครพนม.xlsx",header=4)
WV_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความเร็วลม(นอต)/จ.สกลนคร.xlsx",header=4)
WV_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความเร็วลม(นอต)/จ.หนองคาย.xlsx",header=4)
WV_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ความเร็วลม(นอต)/จ.เลย.xlsx",header=4)

In [27]:
#จำนวนเมฆ(10ส่วน)
C_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น.xlsx",header=4,dtype={'Unnamed: 34':int})
C_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/จำนวนเมฆ(10ส่วน)/จ.นครพนม.xlsx",header=4,dtype={'Unnamed: 34':int})
C_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/จำนวนเมฆ(10ส่วน)/จ.สกลนคร.xlsx",header=4,dtype={'Unnamed: 34':int})
C_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/จำนวนเมฆ(10ส่วน)/จ.หนองคาย.xlsx",header=4,dtype={'Unnamed: 34':int})
C_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/จำนวนเมฆ(10ส่วน)/จ.เลย.xlsx",header=4,dtype={'Unnamed: 34':int})

In [26]:
#ปริมาณน้ำฝน(มิลลิเมตร)
RAIN_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ปริมาณน้ำฝน(มิลลิเมตร)/จ.ขอนแก่น.xlsx",header=4)
RAIN_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ปริมาณน้ำฝน(มิลลิเมตร)/จ.นครพนม.xlsx",header=4)
RAIN_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ปริมาณน้ำฝน(มิลลิเมตร)/จ.สกล.xlsx",header=4)
RAIN_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ปริมาณน้ำฝน(มิลลิเมตร)/จ.หนองคาย.xlsx",header=4)
RAIN_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/ปริมาณน้ำฝน(มิลลิเมตร)/จ.เลย.xlsx",header=4)

In [25]:
#อุณหภูมิจุดน้ำค้าง(เซลเซียล)
DEW_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น.xlsx",header=4)
DEW_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม.xlsx",header=4)
DEW_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล.xlsx",header=4)
DEW_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย.xlsx",header=4)
DEW_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย.xlsx",header=4)

In [24]:
#อุณหภูมิต่ำสุด(เซลเซียล)
L_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น.xlsx",header=4)
L_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิต่ำสุด(เซลเซียส)/จ.นครพนม.xlsx",header=4)
L_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิต่ำสุด(เซลเซียส)/จ.สกล.xlsx",header=4)
L_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย.xlsx",header=4)
L_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิต่ำสุด(เซลเซียส)/จ.เลย.xlsx",header=4)

In [23]:
#อุณหภูมิตุ้มเเห้ง
DRY_KhonKaen = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx",header=4)
DRY_NakhonPhanom = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx",header=4)
DRY_SakonNakhon = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx",header=4)
DRY_NongKhai = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx",header=4)
DRY_Loei = pd.read_excel("/content/drive/MyDrive/BSC_DPDM_23/BSC_dpdm23_data/อุตุ ไฟนอล/อุณหภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx",header=4)

#Cleaning Information

In [32]:
df_APlist = [AP_KhonKaen, AP_NakhonPhanom, AP_SakonNakhon, AP_NongKhai, AP_Loei]
df_RMlist = [RM_KhonKaen, RM_NakhonPhanom, RM_SakonNakhon, RM_NongKhai, RM_Loei]
df_WVlist = [WV_KhonKaen, WV_NakhonPhanom, WV_SakonNakhon, WV_NongKhai, WV_Loei]
df_Clist = [C_KhonKaen, C_NakhonPhanom, C_SakonNakhon, C_NongKhai, C_Loei]
df_RAINlist = [RAIN_KhonKaen, RAIN_NakhonPhanom, RAIN_SakonNakhon, RAIN_NongKhai, RAIN_Loei]
df_DEWlist = [DEW_KhonKaen, DEW_NakhonPhanom, DEW_SakonNakhon, DEW_NongKhai, DEW_Loei]
df_Llist = [L_KhonKaen, L_NakhonPhanom, L_SakonNakhon, L_NongKhai, L_Loei]
df_DRYlist = [DRY_KhonKaen, DRY_NakhonPhanom, DRY_SakonNakhon, DRY_NongKhai, DRY_Loei]

In [33]:
def rename_col(df):
  df.rename(columns={'Unnamed: 0': 'ลำดับ', 'Unnamed: 1': 'สถานี', 'Unnamed: 2': 'เดือน/ปี', 'Unnamed: 34': 'ค่าเฉลี่ย'}, inplace=True)
  return df

In [108]:
df_Otherlist1 = {
  "ความกดอากาศ": df_APlist,
  "ความชื้นสัมพัทธ์": df_RMlist,
  "ความเร็วลม": df_WVlist,
  "จำนวนเมฆ": df_Clist,
  "ปริมาณฝน": df_RAINlist,
  "อุณหภูมิจุดน้ำค้าง": df_DEWlist,
  "อุณหภูมิต่ำสุด": df_Llist,
  "อุณหภูมิตุ้มแห้ง": df_DRYlist
}

for category, df_list in df_Otherlist1.items():
    for df in df_list:
        rename_col(df)

#Drop Column 'สถานี'

In [40]:
def drop_column(df):

  df.drop('สถานี', axis=1, inplace = True)
  return df

In [41]:
for category, df_list in df_Otherlist1.items():
    for df in df_list:
        drop_column(df)

#Check Missing value

###Check AP

In [51]:
AP_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [52]:
AP_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [53]:
AP_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [54]:
AP_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [55]:
AP_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###Check RM

In [61]:
RM_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [62]:
RM_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [63]:
RM_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [64]:
RM_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [65]:
RM_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###Check WV

In [66]:
WV_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [67]:
WV_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [68]:
WV_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [69]:
WV_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [70]:
WV_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###Check C

In [71]:
C_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [72]:
C_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [73]:
C_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [74]:
C_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31           False
ค่าเฉลี่ย    False
dtype: bool

In [75]:
C_Loei.isnull().any()

ลำดับ          False
เดือน/ปี       False
1              False
2              False
3              False
4              False
5              False
6              False
7              False
8              False
9              False
10             False
11             False
12             False
13             False
14             False
15             False
16             False
17             False
18             False
19             False
20             False
21             False
22             False
23             False
24             False
25             False
26             False
27             False
28             False
29             False
30             False
31             False
ค่าเฉลี่ย      False
Unnamed: 35     True
Unnamed: 36     True
Unnamed: 37     True
Unnamed: 38     True
Unnamed: 39     True
Unnamed: 40     True
Unnamed: 41     True
Unnamed: 42     True
Unnamed: 43     True
Unnamed: 44     True
dtype: bool

###Check RAIN

In [76]:
RAIN_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [77]:
RAIN_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [78]:
RAIN_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [79]:
RAIN_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [80]:
RAIN_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29            True
30            True
31           False
ค่าเฉลี่ย    False
dtype: bool

###Check DEW

In [81]:
DEW_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [82]:
DEW_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [83]:
DEW_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [84]:
DEW_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [85]:
DEW_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31            True
ค่าเฉลี่ย    False
dtype: bool

###Check L

In [86]:
L_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [87]:
L_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [88]:
L_SakonNakhon.isnull().any()

ลำดับ         True
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [89]:
L_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [90]:
L_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

###Check DRY

In [91]:
DRY_KhonKaen.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [92]:
DRY_NakhonPhanom.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [93]:
DRY_SakonNakhon.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [94]:
DRY_NongKhai.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

In [95]:
DRY_Loei.isnull().any()

ลำดับ        False
เดือน/ปี     False
1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
10           False
11           False
12           False
13           False
14           False
15           False
16           False
17           False
18           False
19           False
20           False
21           False
22           False
23           False
24           False
25           False
26           False
27           False
28           False
29           False
30           False
31           False
ค่าเฉลี่ย    False
dtype: bool

# Fix Missing value
- NaN เป็น -

In [96]:
def replace_nan(df):

  df.replace('-', np.NaN, inplace = True)
  return df

In [97]:
#ความกดอากาศ
for df in df_APlist:
  replace_nan(df)

#ความชื้นสัมพัทธ์
for df in df_RMlist:
  replace_nan(df)

#ความเร็วลม
for df in df_WVlist:
  replace_nan(df)

#จำนวนเมฆ
for df in df_Clist:
  replace_nan(df)

#ปริมาณน้ำฝน
for df in df_RAINlist:
  replace_nan(df)

# อุณหภูมิจุดน้ำค้าง
for df in df_DEWlist:
  replace_nan(df)

#อุณหภูมิต่ำสุด
for df in df_Llist:
  replace_nan(df)

#อุณหภูมิตุ้มแห้ง
for df in df_DRYlist:
  replace_nan(df)

###ปริมาณน้ำฝนมีค่าเป็น `-` และ `T`
- เกณฑ์การวัดน้ำฝนซึ่งเป็นมาตรฐานการวัด RM  สำหรับประเทศไทย คือ
* ฝนตกเล็กน้อย   มีปริมาณ 0.1 <= X <= 10 มิลลิเมตร
* ฝนตกปานกลาง  มีปริมาณ 10.1 <= X <= 35 มิลลิเมตร
* ฝนตกหนัก      มีปริมาณ 35.1 <= X <= 90 มิลลิเมตร     
* ฝนตกหนักมา    มีปริมาณ >= 90.1 มิลลิเมตร

อ้างอิง : (https://www.js100.com/en/site/post_share/view/122413)

In [98]:
# 0.09 มีค่าใกล้เคียงกับ 0.1 มากที่สุด
for df in df_RAINlist:
  df.replace('T', 0.09, inplace = True)

#เพิ่มข้อมูล จากการ Check Missing จะได้ว่า DEW and DRY มีค่าrowต่างจากข้ออื่น

###Add row > Mean
- โดยใช้ฟังก์ชั่น calculate average
- โดยใช้ฟังก์ชั่น insert average

In [112]:
def calculate_average(df):
  return df.iloc[:,2:35].mean().tolist()

In [113]:
def insert_average(df, avg_list):
  for i in range(32):
    df[i+1] = avg_list[i]

In [115]:
df_insert_other2 = {
  "RM_Loei": RM_Loei,
  "DEW_Loei": DEW_Loei,
  "DRY_Loei": DRY_Loei
}

average_other2 = {
  "DEW_Loei": calculate_average(DEW_Loei),
  "DRY_Loei": calculate_average(DRY_Loei)
}

In [116]:
for df_name, df in df_insert_other2.items():
  if df_name != "RM_Loei":
    continue

  ROWDEW = df.iloc[50:,:3]
  ROWDRY = df.iloc[50:,:3]

  insert_average(ROWDEW, average_other2["DEW_Loei"])
  insert_average(ROWDRY, average_other2["DRY_Loei"])

  ROWDEW.rename(columns={32:'ค่าเฉลี่ย'}, inplace=True)
  ROWDRY.rename(columns={32:'ค่าเฉลี่ย'}, inplace=True)

In [ ]:
df_DEWlist1 = [DEW_KhonKaen, DEW_NakhonPhanom, DEW_SakonNakhon, DEW_NongKhai, DEW_Loei]

df_DRYlist = [DRY_KhonKaen, DRY_NakhonPhanom, DRY_SakonNakhon, DRY_NongKhai, DRY_Loei]

###Row DEW
- มีจำนวน 50 แถว จาก 55 แถว

In [141]:
DEW_Loei.shape #จังหวัด loei

(60, 34)

In [102]:
DEW55 = DEW_Loei.iloc[:,2:35]

In [103]:
DEW55

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
0,23.6,23.5,21.9,21.9,21.8,21.6,21.7,22.6,22.6,22.4,...,21.0,21.5,21.2,21.0,21.6,21.3,21.0,20.2,20.2,21.793548
1,20.1,19.5,19.5,19.1,19.5,20.5,20.6,20.8,20.5,18.9,...,18.6,17.0,16.7,17.5,18.8,19.2,19.5,19.4,NaN,18.953333
2,18.0,16.6,15.0,14.6,15.3,16.7,18.9,20.2,15.5,14.0,...,16.1,12.8,9.7,9.4,11.0,14.9,16.2,16.2,16.5,14.735484
3,16.2,16.4,17.6,18.2,15.2,16.1,17.0,15.0,13.6,13.7,...,20.6,18.7,18.5,16.9,17.6,18.5,19.2,18.2,17.4,16.851613
4,17.8,18.8,20.7,19.1,19.5,18.2,16.4,16.4,17.9,19.3,...,15.0,16.3,17.1,16.7,18.7,18.6,16.9,NaN,NaN,17.310345
5,22.1,21.9,22.4,23.1,23.4,23.2,22.2,21.7,22.1,21.6,...,20.7,20.6,21.0,21.1,21.3,20.8,21.8,21.7,20.2,21.770968
6,26.1,25.3,26.2,26.2,26.9,27.3,27.8,27.9,28.1,28.4,...,27.4,25.8,26.3,26.6,25.6,25.2,25.8,26.7,NaN,26.736667
7,27.6,27.6,25.8,26.6,26.4,25.4,24.9,25.3,24.9,24.5,...,24.6,21.4,21.4,23.0,24.6,24.4,24.6,24.4,20.3,24.538710
8,13.1,15.5,16.1,15.6,15.3,15.0,15.3,16.3,17.1,14.7,...,16.6,18.3,18.4,18.7,19.4,18.0,18.4,18.0,19.2,16.041935
9,18.2,19.0,18.2,17.9,17.9,19.0,17.5,15.6,17.8,17.6,...,13.6,13.9,16.8,18.3,18.6,20.1,NaN,NaN,NaN,17.600000
10,21.6,23.2,23.4,22.5,22.0,21.3,21.3,21.2,19.8,20.7,...,21.8,21.5,19.7,18.4,17.6,18.5,20.1,20.9,21.5,21.309677
11,21.6,21.3,20.3,18.4,18.1,19.8,20.4,21.4,21.2,19.9,...,19.9,20.5,21.2,21.0,20.8,20.0,15.0,15.5,NaN,19.993333
12,16.1,13.7,13.9,13.9,14.8,14.8,14.4,14.3,15.1,15.4,...,12.3,13.1,11.4,11.9,10.0,9.8,10.9,11.4,11.8,13.664516
13,13.0,14.9,15.9,16.2,15.5,15.8,17.4,17.8,17.2,16.3,...,6.5,7.3,9.6,11.8,13.2,13.7,14.4,14.1,14.6,12.961290
14,15.8,15.4,15.7,15.3,15.8,16.5,16.8,16.3,13.5,13.1,...,16.2,17.7,18.3,17.0,18.2,19.1,NaN,NaN,NaN,15.910714
15,22.6,23.5,22.0,21.8,22.5,20.8,20.0,19.7,20.9,21.9,...,22.3,22.2,22.2,22.3,22.2,22.4,23.2,23.3,23.1,21.541935
16,22.7,23.0,22.2,21.2,21.8,22.8,23.1,23.0,22.4,22.5,...,18.4,17.0,17.5,18.5,19.8,21.3,21.5,19.6,NaN,20.286667
17,16.5,20.5,21.0,21.4,18.3,19.0,19.8,18.1,17.4,17.4,...,11.8,13.3,15.9,18.2,18.7,16.9,13.0,13.3,12.7,15.687097
18,9.2,8.4,11.0,13.1,15.1,16.4,17.3,16.7,14.7,14.4,...,14.7,14.4,13.6,13.1,13.8,13.9,13.5,14.8,14.4,13.125806
19,14.4,14.5,14.4,14.5,14.2,13.5,13.6,14.4,13.3,14.3,...,18.8,18.6,17.4,16.6,15.9,16.3,NaN,NaN,NaN,16.364286
20,23.5,23.5,23.3,23.2,23.0,23.4,23.7,23.3,23.3,23.3,...,22.4,21.8,20.4,19.8,21.3,21.6,21.4,21.2,20.8,22.038710
21,21.1,19.3,19.7,19.9,20.5,20.9,22.6,22.8,22.4,21.9,...,20.0,20.5,20.4,19.3,17.5,18.7,19.8,20.0,NaN,20.916667
22,19.9,20.3,21.2,21.5,19.8,19.5,17.5,16.6,18.1,18.1,...,19.5,20.7,22.0,19.5,19.7,19.1,17.8,17.5,16.3,18.180645
23,15.5,15.2,14.6,14.6,16.1,14.4,14.8,16.6,17.4,16.0,...,20.2,11.5,5.9,10.2,11.8,15.4,16.8,18.2,17.7,15.896774
24,18.1,15.6,13.8,14.6,15.2,11.0,5.1,2.8,7.2,9.7,...,18.2,16.3,11.8,12.8,13.5,14.8,13.2,NaN,NaN,13.196552
25,23.7,24.0,23.9,23.4,23.8,23.9,23.7,23.7,24.0,24.0,...,23.7,23.3,23.3,24.1,23.5,23.7,22.9,21.8,22.7,23.390323
26,21.7,20.9,19.5,19.3,19.7,20.8,22.6,24.1,23.2,21.6,...,21.8,23.3,22.7,21.6,19.1,17.5,17.1,18.0,NaN,20.866667
27,17.7,18.4,18.8,19.8,19.6,18.5,17.4,17.9,16.9,15.8,...,18.5,18.8,19.5,18.8,17.3,13.7,13.2,13.1,15.9,17.554839
28,18.9,19.8,19.4,18.5,19.2,18.3,19.9,20.5,21.3,21.5,...,13.9,13.6,16.2,15.6,14.6,14.2,14.1,15.5,14.3,18.016129
29,13.9,16.0,17.4,15.9,13.4,11.8,12.8,12.8,14.9,15.2,...,15.6,18.2,19.5,17.0,15.6,15.9,NaN,NaN,NaN,14.600000
30,24.6,23.3,24.3,23.4,23.7,23.7,23.7,24.3,24.2,23.8,...,23.3,21.5,22.0,21.9,21.8,21.6,20.6,17.5,16.9,22.790323
31,19.4,19.9,18.4,17.5,17.6,18.9,20.4,21.2,22.0,22.2,...,20.8,17.3,16.8,18.6,18.2,19.5,20.3,20.5,NaN,20.560000
32,19.6,19.4,18.5,18.8,17.4,17.4,18.8,19.6,17.8,18.8,...,14.4,15.7,14.3,14.2,17.2,18.4,19.3,20.5,17.6,16.870968
33,16.8,16.4,18.0,19.2,20.0,21.0,22.0,22.4,22.3,15.6,...,18.8,18.3,18.6,19.2,20.6,21.2,20.0,17.3,17.1,17.803226
34,12.3,13.7,12.4,11.9,12.3,10.2,12.7,13.8,15.1,16.0,...,20.9,20.5,20.3,18.7,20.0,19.7,NaN,NaN,NaN,16.671429
35,23.7,22.7,21.6,21.4,21.6,21.5,21.6,21.1,21.1,21.3,...,22.8,22.9,23.2,23.5,21.8,21.9,21.3,20.9,18.0,22.006452
36,16.2,15.7,15.6,16.8,18.3,19.2,20.6,20.2,21.8,22.3,...,19.2,19.1,19.2,18.0,16.8,18.3,20.5,20.6,NaN,20.310000
37,20.9,21.1,20.9,20.8,20.1,20.4,20.8,22.1,21.0,20.2,...,17.3,17.5,16.9,15.8,15.7,17.8,17.9,16.7,14.8,18.603226
38,14.8,14.3,15.4,17.2,19.3,19.4,20.0,19.7,20.1,20.3,...,15.8,15.5,15.6,14.4,13.8,13.7,14.9,16.6,17.4,17.235484
39,16.4,17.0,18.4,18.4,17.3,15.8,16.8,16.5,15.9,15.7,...,18.4,18.4,18.8,19.9,21.0,21.0,NaN,NaN,NaN,18.535714
40,22.1,22.1,22.9,22.8,21.9,21.4,21.2,21.7,22.7,23.5,...,22.7,23.0,22.9,22.4,21.9,22.3,21.8,18.4,15.1,21.735484
41,18.3,21.4,22.0,20.7,20.1,19.8,20.1,18.3,17.9,17.5,...,17.1,16.9,16.9,16.5,18.5,19.1,17.0,18.6,NaN,18.730000
42,19.2,17.4,13.4,11.0,9.9,8.9,6.1,5.4,8.1,8.3,...,16.3,15.9,17.0,17.4,16.7,15.3,15.1,15.7,16.1,13.903226
43,17.1,16.9,16.3,16.4,16.4,16.6,16.8,16.6,15.9,16.2,...,18.8,18.1,16.3,14.3,15.6,16.0,15.3,14.3,13.4,16.532258
44,14.2,15.7,16.2,16.7,17.1,17.3,17.5,15.5,15.5,14.9,...,15.2,14.7,15.1,15.0,15.3,16.5,17.4,NaN,NaN,15.751724
45,24.6,24.4,23.9,24.2,24.4,23.5,23.1,23.0,21.5,21.7,...,19.7,18.9,19.1,21.1,21.8,22.2,22.0,23.1,22.5,22.254839
46,22.8,22.3,21.6,20.9,21.4,21.6,21.7,20.2,18.5,18.4,...,21.1,20.2,20.4,19.6,19.2,18.3,18.1,17.2,NaN,20.093333
47,17.1,17.8,17.3,14.4,13.2,13.9,14.4,14.9,13.5,14.4,...,13.8,16.0,17.1,18.4,19.3,19.4,18.3,16.5,10.7,16.041935
48,10.0,9.7,10.8,13.9,16.0,17.3,16.9,16.0,11.3,11.9,...,13.2,15.2,15.6,15.7,16.7,16.9,15.0,14.7,15.2,13.145161
49,16.5,17.2,16.3,14.2,14.8,15.0,15.8,17.3,17.2,15.2,...,16.8,18.4,17.3,13.0,13.8,15.2,NaN,NaN,NaN,15.782143

In [122]:
ROWDEW

,ลำดับ,เดือน/ปี,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
50,48,2021-10-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
51,49,2021-11-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
52,50,2021-12-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
53,1,2022-01-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
54,2,2022-02-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843

In [138]:
DEW_Loei55 =pd.concat([DEW_Loei,ROWDEW])

In [139]:
DEW_Loei55.tail()

,ลำดับ,เดือน/ปี,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
50,48,2021-10-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
51,49,2021-11-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
52,50,2021-12-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
53,1,2022-01-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
54,2,2022-02-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843

In [140]:
DEW_Loei

,ลำดับ,เดือน/ปี,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
0,1,2011-10-01,23.600,23.500,21.90,21.900,21.800,21.60,21.70,22.600,...,21.000,21.500,21.20,21.000,21.60,21.300,21.000000,20.2000,20.200000,21.793548
1,2,2011-11-01,20.100,19.500,19.50,19.100,19.500,20.50,20.60,20.800,...,18.600,17.000,16.70,17.500,18.80,19.200,19.500000,19.4000,NaN,18.953333
2,3,2011-12-01,18.000,16.600,15.00,14.600,15.300,16.70,18.90,20.200,...,16.100,12.800,9.70,9.400,11.00,14.900,16.200000,16.2000,16.500000,14.735484
3,1,2012-01-01,16.200,16.400,17.60,18.200,15.200,16.10,17.00,15.000,...,20.600,18.700,18.50,16.900,17.60,18.500,19.200000,18.2000,17.400000,16.851613
4,2,2012-02-01,17.800,18.800,20.70,19.100,19.500,18.20,16.40,16.400,...,15.000,16.300,17.10,16.700,18.70,18.600,16.900000,NaN,NaN,17.310345
5,3,2012-10-01,22.100,21.900,22.40,23.100,23.400,23.20,22.20,21.700,...,20.700,20.600,21.00,21.100,21.30,20.800,21.800000,21.7000,20.200000,21.770968
6,4,2012-11-01,26.100,25.300,26.20,26.200,26.900,27.30,27.80,27.900,...,27.400,25.800,26.30,26.600,25.60,25.200,25.800000,26.7000,NaN,26.736667
7,5,2012-12-01,27.600,27.600,25.80,26.600,26.400,25.40,24.90,25.300,...,24.600,21.400,21.40,23.000,24.60,24.400,24.600000,24.4000,20.300000,24.538710
8,6,2013-01-01,13.100,15.500,16.10,15.600,15.300,15.00,15.30,16.300,...,16.600,18.300,18.40,18.700,19.40,18.000,18.400000,18.0000,19.200000,16.041935
9,7,2013-02-01,18.200,19.000,18.20,17.900,17.900,19.00,17.50,15.600,...,13.600,13.900,16.80,18.300,18.60,20.100,NaN,NaN,NaN,17.600000
10,8,2013-10-01,21.600,23.200,23.40,22.500,22.000,21.30,21.30,21.200,...,21.800,21.500,19.70,18.400,17.60,18.500,20.100000,20.9000,21.500000,21.309677
11,9,2013-11-01,21.600,21.300,20.30,18.400,18.100,19.80,20.40,21.400,...,19.900,20.500,21.20,21.000,20.80,20.000,15.000000,15.5000,NaN,19.993333
12,10,2013-12-01,16.100,13.700,13.90,13.900,14.800,14.80,14.40,14.300,...,12.300,13.100,11.40,11.900,10.00,9.800,10.900000,11.4000,11.800000,13.664516
13,11,2014-01-01,13.000,14.900,15.90,16.200,15.500,15.80,17.40,17.800,...,6.500,7.300,9.60,11.800,13.20,13.700,14.400000,14.1000,14.600000,12.961290
14,12,2014-02-01,15.800,15.400,15.70,15.300,15.800,16.50,16.80,16.300,...,16.200,17.700,18.30,17.000,18.20,19.100,NaN,NaN,NaN,15.910714
15,13,2014-10-01,22.600,23.500,22.00,21.800,22.500,20.80,20.00,19.700,...,22.300,22.200,22.20,22.300,22.20,22.400,23.200000,23.3000,23.100000,21.541935
16,14,2014-11-01,22.700,23.000,22.20,21.200,21.800,22.80,23.10,23.000,...,18.400,17.000,17.50,18.500,19.80,21.300,21.500000,19.6000,NaN,20.286667
17,15,2014-12-01,16.500,20.500,21.00,21.400,18.300,19.00,19.80,18.100,...,11.800,13.300,15.90,18.200,18.70,16.900,13.000000,13.3000,12.700000,15.687097
18,16,2015-01-01,9.200,8.400,11.00,13.100,15.100,16.40,17.30,16.700,...,14.700,14.400,13.60,13.100,13.80,13.900,13.500000,14.8000,14.400000,13.125806
19,17,2015-02-01,14.400,14.500,14.40,14.500,14.200,13.50,13.60,14.400,...,18.800,18.600,17.40,16.600,15.90,16.300,NaN,NaN,NaN,16.364286
20,18,2015-10-01,23.500,23.500,23.30,23.200,23.000,23.40,23.70,23.300,...,22.400,21.800,20.40,19.800,21.30,21.600,21.400000,21.2000,20.800000,22.038710
21,19,2015-11-01,21.100,19.300,19.70,19.900,20.500,20.90,22.60,22.800,...,20.000,20.500,20.40,19.300,17.50,18.700,19.800000,20.0000,NaN,20.916667
22,20,2015-12-01,19.900,20.300,21.20,21.500,19.800,19.50,17.50,16.600,...,19.500,20.700,22.00,19.500,19.70,19.100,17.800000,17.5000,16.300000,18.180645
23,21,2016-01-01,15.500,15.200,14.60,14.600,16.100,14.40,14.80,16.600,...,20.200,11.500,5.90,10.200,11.80,15.400,16.800000,18.2000,17.700000,15.896774
24,22,2016-02-01,18.100,15.600,13.80,14.600,15.200,11.00,5.10,2.800,...,18.200,16.300,11.80,12.800,13.50,14.800,13.200000,NaN,NaN,13.196552
25,23,2016-10-01,23.700,24.000,23.90,23.400,23.800,23.90,23.70,23.700,...,23.700,23.300,23.30,24.100,23.50,23.700,22.900000,21.8000,22.700000,23.390323
26,24,2016-11-01,21.700,20.900,19.50,19.300,19.700,20.80,22.60,24.100,...,21.800,23.300,22.70,21.600,19.10,17.500,17.100000,18.0000,NaN,20.866667
27,25,2016-12-01,17.700,18.400,18.80,19.800,19.600,18.50,17.40,17.900,...,18.500,18.800,19.50,18.800,17.30,13.700,13.200000,13.1000,15.900000,17.554839
28,26,2017-01-01,18.900,19.800,19.40,18.500,19.200,18.30,19.90,20.500,...,13.900,13.600,16.20,15.600,14.60,14.200,14.100000,15.5000,14.300000,18.016129
29,27,2017-02-01,13.900,16.000,17.40,15.900,13.400,11.80,12.80,12.800,...,15.600,18.200,19.50,17.000,15.60,15.900,NaN,NaN,NaN,14.600000
30,28,2017-10-01,24.600,23.300,24.30,23.400,23.700,23.70,23.70,24.300,...,23.300,21.500,22.00,21.900,21.80,21.600,20.600000,17.5000,16.900000,22.790323
31,29,2017-11-01,19.400,19.900,18.40,17.500,17.600,18.90,20.40,21.200,...,20.800,17.300,16.80,18.600,18.20,19.500,20.300000,20.5000,NaN,20.560000
32,30,2017-12-01,19.600,19.400,18.50,18.800,17.400,17.40,18.80,19.600,...,14.400,15.700,14.30,14.200,17.20,18.400,19.300000,20.5000,17.600000,16.870968
33,31,2018-01-01,16.800,16.400,18.00,19.200,20.000,21.00,22.00,22.400,...,18.800,18.300,18.60,19.200,20.60,21.200,20.000000,17.3000,17.100000,17.803226
34,32,2018-02-01,12.300,13.700,12.40,11.900,12.300,10.20,12.70,13.800,...,20.900,20.500,20.30,18.700,20.00,19.700,NaN,NaN,NaN,16.671429
35,33,2018-10-01,23.700,22.700,21.60,21.400,21.600,21.50,21.60,21.100,...,22.800,22.900,23.20,23.500,21.80,21.900,21.300000,20.9000,18.000000,22.006452
36,34,2018-11-01,16.200,15.700,15.60,16.800,18.300,19.20,20.60,20.200,...,19.200,19.100,19.20,18.000,16.80,18.300,20.500000,20.6000,NaN,20.310000
37,35,2018-12-01,20.900,21.100,20.90,20.800,20.100,20.40,20.80,22.100,...,17.300,17.500,16.90,15.800,15.70,17.800,17.900000,16.7000,14.800000,18.603226
38,36,2019-01-01,14.800,14.300,15.40,17.200,19.300,19.40,20.00,19.700,...,15.800,15.500,15.60,14.400,13.80,13.700,14.900000,16.6000,17.400000,17.235484
39,37,2019-02-01,16.400,17.000,18.40,18.400,17.300,15.80,16.80,16.500,...,18.400,18.400,18.80,19.900,21.00,21.000,NaN,NaN,NaN,18.535714
40,38,2019-10-01,22.100,22.100,22.90,22.800,21.900,21.40,21.20,21.700,...,22.700,23.000,22.90,22.400,21.90,22.300,21.800000,18.4000,15.100000,21.735484
41,39,2019-11-01,18.300,21.400,22.00,20.700,20.100,19.80,20.10,18.300,...,17.100,16.900,16.90,16.500,18.50,19.100,17.000000,18.6000,NaN,18.730000
42,40,2019-12-01,19.200,17.400,13.40,11.000,9.900,8.90,6.10,5.400,...,16.300,15.900,17.00,17.400,16.70,15.300,15.100000,15.7000,16.100000,13.903226
43,41,2020-01-01,17.100,16.900,16.30,16.400,16.400,16.60,16.80,16.600,...,18.800,18.100,16.30,14.300,15.60,16.000,15.300000,14.3000,13.400000,16.532258
44,42,2020-02-01,14.200,15.700,16.20,16.700,17.100,17.30,17.50,15.500,...,15.200,14.700,15.10,15.000,15.30,16.500,17.400000,NaN,NaN,15.751724
45,43,2020-10-01,24.600,24.400,23.90,24.200,24.400,23.50,23.10,23.000,...,19.700,18.900,19.10,21.100,21.80,22.200,22.000000,23.1000,22.500000,22.254839
46,44,2020-11-01,22.800,22.300,21.60,20.900,21.400,21.60,21.70,20.200,...,21.100,20.200,20.40,19.600,19.20,18.300,18.100000,17.2000,NaN,20.093333
47,45,2020-12-01,17.100,17.800,17.30,14.400,13.200,13.90,14.40,14.900,...,13.800,16.000,17.10,18.400,19.30,19.400,18.300000,16.5000,10.700000,16.041935
48,46,2021-01-01,10.000,9.700,10.80,13.900,16.000,17.30,16.90,16.000,...,13.200,15.200,15.60,15.700,16.70,16.900,15.000000,14.7000,15.200000,13.145161
49,47,2021-02-01,16.500,17.200,16.30,14.200,14.800,15.00,15.80,17.300,...,16.800,18.400,17.30,13.000,13.80,15.200,NaN,NaN,NaN,15.782143
50,48,2021-10-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
51,49,2021-11-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
52,50,2021-12-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
53,1,2022-01-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
54,2,2022-02-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
50,48,2021-10-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
51,49,2021-11-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
52,50,2021-12-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
53,1,2022-01-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843
54,2,2022-02-01,18.738,18.878,18.78,18.638,18.648,18.58,18.75,18.712,...,18.342,18.078,17.98,17.886,18.14,18.436,18.281395,18.3025,17.146667,18.343843

###Row DRY
- มีจำนวน 50 แถว จาก 55 แถว

In [117]:
DRY_Loei.shape #จังหวัด loei

(50, 34)

In [118]:
DRY55 = DRY_Loei.iloc[:,2:35]

In [119]:
DRY55

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
0,26.3,25.1,24.4,25.2,25.6,23.7,24.6,26.2,26.0,27.1,...,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8,25.6
1,25.3,24.7,24.5,24.4,24.9,25.4,25.8,26.3,24.5,22.5,...,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,NaN,24.4
2,23.9,22.9,21.0,20.9,22.3,21.6,23.8,26.0,24.3,21.7,...,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2,21.1
3,22.7,22.9,24.1,24.3,23.3,23.0,22.2,21.3,20.9,20.7,...,25.2,24.4,23.5,22.8,23.4,24.9,25.5,23.5,23.5,23.3
4,23.4,24.2,23.2,24.0,25.6,26.3,25.9,25.4,25.2,26.5,...,25.5,25.9,26.9,26.8,26.5,26.7,26.7,NaN,NaN,25.4
5,26.4,26.9,25.3,25.9,26.6,26.3,26.3,24.7,26.3,26.7,...,26.9,26.4,27.2,26.8,27.4,27.4,27.9,27.9,27.4,26.8
6,26.1,25.3,26.2,26.2,26.9,27.3,27.8,27.9,28.1,28.4,...,27.4,25.8,26.3,26.6,25.6,25.2,25.8,26.7,NaN,26.7
7,27.6,27.6,25.8,26.6,26.4,25.4,24.9,25.3,24.9,24.5,...,24.6,21.4,21.4,23.0,24.6,24.4,24.6,24.4,20.3,24.5
8,19.5,22.2,23.8,23.2,22.2,21.6,21.8,22.8,24.0,22.8,...,24.4,25.3,24.6,25.0,23.1,22.0,23.6,24.0,21.5,22.9
9,22.3,23.4,23.8,25.9,25.9,26.9,27.4,26.5,25.9,26.7,...,25.2,24.7,26.1,28.4,29.6,29.0,NaN,NaN,NaN,26.4
10,24.5,25.8,26.5,27.5,27.0,26.4,25.9,25.9,25.2,25.8,...,26.2,25.0,21.2,23.4,22.5,23.6,24.8,25.3,26.3,25.5
11,26.7,26.3,25.8,24.3,23.4,25.0,26.2,25.9,26.1,24.9,...,25.2,25.4,26.2,26.0,25.6,25.1,22.4,21.4,NaN,25.2
12,22.4,20.9,20.2,20.2,20.6,20.8,20.1,20.1,20.7,21.3,...,17.4,18.0,16.9,17.0,16.5,15.2,15.7,16.1,17.2,19.1
13,18.1,19.7,21.0,21.6,21.7,21.3,22.5,23.4,22.6,22.3,...,14.6,15.9,17.7,19.2,20.5,20.6,21.5,21.7,22.0,19.7
14,23.0,24.1,24.5,24.6,24.5,25.0,25.6,25.3,24.3,24.0,...,25.8,26.4,27.4,27.5,28.3,29.0,NaN,NaN,NaN,25.0
15,26.4,27.0,27.6,27.4,27.5,26.2,26.5,26.1,26.1,27.7,...,26.2,24.1,25.6,26.8,27.2,26.9,25.4,25.7,26.6,26.3
16,27.5,27.6,27.4,26.2,25.0,25.8,25.4,26.6,25.3,26.5,...,23.3,22.8,23.2,24.1,25.4,26.6,25.4,25.7,NaN,25.1
17,24.3,23.5,25.1,25.6,25.1,24.5,25.1,24.0,23.6,22.4,...,18.2,19.3,21.7,24.3,24.5,24.4,21.0,20.3,19.9,22.1
18,19.3,17.3,18.0,20.7,22.5,23.6,24.1,23.8,21.5,17.6,...,22.1,22.4,22.1,21.8,22.6,22.7,23.3,22.8,23.0,20.6
19,22.3,23.6,22.2,22.9,22.8,21.7,21.7,22.1,21.7,21.8,...,24.2,25.6,26.4,27.5,26.0,27.1,NaN,NaN,NaN,23.7
20,26.6,27.1,25.5,27.0,27.3,26.7,25.6,25.7,26.5,26.1,...,26.1,26.1,25.7,25.4,26.7,27.4,27.3,27.1,26.5,26.1
21,25.9,25.5,24.7,25.7,26.3,26.4,25.2,26.7,27.2,27.4,...,25.6,25.7,25.7,25.6,24.1,24.5,25.2,26.1,NaN,26.2
22,26.6,26.9,26.4,25.6,21.7,22.8,23.6,22.7,23.2,23.8,...,26.2,26.8,26.8,24.6,22.9,23.6,24.5,23.7,23.5,23.9
23,23.5,22.6,22.0,22.6,23.0,23.1,22.7,24.2,23.8,24.5,...,25.5,16.7,12.0,12.1,13.9,19.0,22.1,23.5,25.2,22.4
24,24.8,23.6,21.4,22.5,23.3,20.5,18.6,15.8,15.1,19.1,...,27.4,25.7,22.5,22.7,22.6,23.2,23.8,NaN,NaN,22.6
25,26.7,27.4,27.4,27.5,26.3,26.8,27.1,27.6,28.0,28.1,...,28.3,26.4,26.2,26.7,27.5,27.8,27.0,26.6,27.4,27.0
26,27.2,26.2,25.2,24.5,24.6,25.7,23.8,25.3,24.3,24.0,...,26.3,24.9,26.9,25.8,24.5,22.9,22.4,23.3,NaN,25.0
27,22.6,22.6,23.2,23.3,23.8,23.8,22.6,22.8,22.1,20.9,...,23.2,23.9,24.0,24.3,23.8,20.7,19.4,19.6,21.0,22.7
28,22.0,24.2,25.5,25.1,23.5,24.4,25.2,25.3,25.3,23.4,...,20.8,21.3,22.9,23.5,21.9,22.3,22.1,24.1,23.1,23.9
29,22.6,23.5,24.9,24.4,23.9,22.7,23.3,23.6,23.3,24.1,...,27.5,28.1,25.3,23.9,25.0,25.7,NaN,NaN,NaN,23.9
30,28.2,26.2,26.7,24.9,25.4,26.6,26.0,27.2,27.6,25.8,...,26.2,26.4,25.9,26.0,26.0,25.2,25.1,24.2,22.9,26.0
31,23.2,24.8,24.4,23.2,22.4,22.0,24.0,25.2,26.2,27.0,...,25.3,24.2,23.1,23.4,23.4,23.9,24.7,25.4,NaN,25.2
32,24.5,24.8,23.9,23.9,24.1,23.6,24.8,24.2,24.2,24.4,...,20.8,21.7,19.6,18.6,18.1,19.6,23.0,24.6,24.0,22.1
33,22.5,21.9,22.9,24.7,25.6,26.3,25.4,26.5,26.2,20.8,...,24.4,24.4,24.5,25.4,23.1,24.5,26.2,23.2,22.7,23.1
34,19.6,20.6,20.3,19.1,19.3,18.8,19.6,20.8,21.4,23.6,...,24.4,25.1,26.5,26.9,25.5,26.4,NaN,NaN,NaN,23.6
35,25.8,26.6,26.1,26.8,26.8,26.5,26.8,26.7,27.1,27.2,...,25.9,25.8,27.3,27.6,27.3,26.8,26.6,25.7,24.4,26.7
36,23.6,22.3,21.8,22.8,24.0,24.6,25.6,25.2,25.1,25.3,...,25.0,24.0,24.2,23.3,23.3,22.8,24.1,25.6,NaN,25.1
37,25.9,26.5,26.8,26.3,25.9,25.8,25.6,24.2,24.0,24.3,...,24.8,24.3,23.1,22.8,22.4,23.2,23.2,23.0,22.0,24.2
38,22.0,20.8,21.3,23.2,23.7,23.6,25.2,25.1,24.6,25.4,...,22.9,23.3,23.9,22.1,21.4,21.5,22.3,23.8,24.7,23.9
39,25.3,24.8,25.7,26.3,25.9,25.3,26.0,25.7,25.7,25.7,...,27.6,27.8,28.1,25.7,25.0,26.4,NaN,NaN,NaN,26.0
40,28.9,29.0,29.1,25.9,25.7,26.7,27.2,27.1,27.4,27.5,...,28.8,29.8,29.0,28.3,28.5,28.1,28.2,27.1,23.5,27.7
41,23.5,27.5,27.3,27.5,27.2,26.1,25.7,26.0,23.5,23.7,...,24.1,24.2,24.2,23.9,25.1,26.7,25.3,25.2,NaN,25.4
42,25.7,24.7,21.6,19.3,18.3,17.2,16.0,16.0,17.1,16.8,...,24.7,24.5,25.0,24.1,24.3,23.2,23.0,23.9,24.0,22.0
43,26.0,24.9,24.8,24.3,24.8,25.0,25.4,25.6,25.1,25.3,...,27.2,27.1,27.1,25.6,23.2,22.4,23.1,21.6,21.3,25.0
44,22.3,23.9,24.6,25.5,26.0,26.8,26.8,25.9,25.0,24.6,...,24.3,24.2,25.6,26.1,25.4,25.9,26.8,NaN,NaN,25.3
45,27.5,27.1,26.3,27.7,26.5,27.6,27.1,24.5,25.4,25.9,...,25.1,23.7,24.2,23.6,25.6,26.3,23.1,24.6,24.8,25.5
46,26.7,26.1,26.0,25.8,25.8,26.0,25.1,25.7,24.5,22.9,...,27.1,25.8,25.6,25.3,24.5,24.9,23.7,23.1,NaN,25.3
47,22.9,23.1,23.6,21.9,20.1,19.7,20.2,21.3,19.9,20.0,...,19.4,21.6,22.9,23.7,25.1,25.7,25.3,23.8,20.3,22.2
48,18.0,16.8,18.1,20.2,22.5,23.3,23.6,22.9,20.3,19.3,...,21.4,22.8,23.9,23.2,24.0,24.5,23.5,21.6,22.6,20.8
49,23.7,24.8,25.1,24.3,23.4,23.8,24.1,23.8,19.3,21.3,...,25.7,26.8,27.8,26.3,25.2,25.6,NaN,NaN,NaN,24.1

In [120]:
ROWDRY

,ลำดับ,เดือน/ปี,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
50,48,2021-10-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
51,49,2021-11-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
52,50,2021-12-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
53,1,2022-01-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
54,2,2022-02-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246

In [123]:
DRY_Loei =pd.concat([DRY_Loei,ROWDRY])

In [126]:
DRY_Loei.tail()

,ลำดับ,เดือน/ปี,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
50,48,2021-10-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
51,49,2021-11-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
52,50,2021-12-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
53,1,2022-01-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246
54,2,2022-02-01,24.246,24.356,24.26,24.388,24.338,24.32,24.43,24.498,...,24.566,24.228,24.19,24.188,24.132,24.446,24.165116,23.99,23.32,24.246

###Cut columns
- จาก Column C_Loei ที่มี[16, 35]

In [127]:
CutC_Loei = C_Loei.drop(columns=['Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','Unnamed: 41'
,'Unnamed: 42','Unnamed: 43','Unnamed: 44'])

### Add mean in Missing Value

In [128]:
APMeanM = []
RMMeanM = []
WVMeanM = []
CMeanM = []
RAINMeanM = []
DEWMeanM = []
LMeanM = []
DRYMeanM = []


for category, df_list in zip([
     "AP", "RM", "WV", "C", "RAIN","DEW", "L", "DRY"],
     [df_APlist, df_RMlist, df_WVlist, df_Clist, df_RAINlist,
      df_DEWlist, df_Llist, df_DRYlist]):

  for df in df_list:
    missing_values = df.isnull().any()
    if missing_values.any():
      if category == "Air Pressure":
        APMeanM.append(missing_values.idxmax())
      elif category == "Relative Humidity":
        RMMeanM.append(missing_values.idxmax())
      elif category == "Wind Speed":
        WVMeanM.append(missing_values.idxmax())
      elif category == "Number of Clouds":
        CMeanM.append(missing_values.idxmax())
      elif category == "Rainfall":
        RAINMeanM.append(missing_values.idxmax())
      elif category == "Dew Point":
        DEWMeanM.append(missing_values.idxmax())
      elif category == "Minimum Degree":
        LMeanM.append(missing_values.idxmax())
      elif category == "Dry Bulb":
        DRYMeanM.append(missing_values.idxmax())

# Print results
print("Air Pressure: Missing values in columns:", APMeanM)
print("Relative Humidity: Missing values in columns:", RMMeanM)
print("Wind Speed: Missing values in columns:", WVMeanM)
print("Number of Clouds: Missing values in columns:", CMeanM)
print("Rainfall: Missing values in columns:", RAINMeanM)
print("Dew Point: Missing values in columns:", DEWMeanM)
print("Minimum Degree: Missing values in columns:", LMeanM)
print("Dry Bulb: Missing values in columns:", DRYMeanM)

Air Pressure: Missing values in columns: []
Relative Humidity: Missing values in columns: []
Wind Speed: Missing values in columns: []
Number of Clouds: Missing values in columns: []
Rainfall: Missing values in columns: []
Dew Point: Missing values in columns: []
Minimum Degree: Missing values in columns: []
Dry Bulb: Missing values in columns: []

In [129]:
L_SakonNakhon.tail()

L_SakonNakhon.iloc[53, 0] = '1'

L_SakonNakhon.tail()

,ลำดับ,เดือน/ปี,1,2,3,4,5,6,7,8,...,23,24,25,26,27,28,29,30,31,ค่าเฉลี่ย
50,48,2021-10-01,26.1,25.0,24.1,23.3,24.0,24.1,23.5,24.5,...,19.9,19.6,19.5,19.5,20.5,23.0,22.9,23.4,22.9,23.0
51,49,2021-11-01,23.3,23.0,22.1,20.0,22.8,22.6,23.5,22.4,...,19.6,17.5,17.6,16.9,17.1,16.0,17.3,17.4,NaN,20.1
52,50,2021-12-01,16.3,15.3,13.4,11.5,11.5,14.1,12.7,13.9,...,16.8,18.1,19.6,19.8,18.4,15.8,16.6,17.0,NaN,16.3
53,1,2022-01-01,15.5,16.0,16.0,18.2,16.0,17.7,17.2,17.5,...,20.2,17.9,20.1,21.9,19.9,20.3,19.6,22.0,19.6,18.2
54,2,2022-02-01,17.4,17.7,17.8,17.0,16.4,15.7,18.5,20.0,...,13.0,12.0,12.3,14.0,16.1,NaN,NaN,NaN,NaN,17.0

In [131]:
Summary8 = [df_APlist, df_RMlist, df_WVlist, df_Clist, df_RAINlist, df_DEWlist, df_Llist, df_DRYlist]

In [133]:
Summary8

[[   ลำดับ   เดือน/ปี        1        2        3        4        5        6  \
  0    1   2011-10-01  1005.47  1006.65  1007.49  1008.28  1009.88  1011.36
  1    2   2011-11-01  1011.79  1010.83  1010.74  1010.71  1010.09  1009.24
  2    3   2011-12-01  1011.43  1012.57  1012.28  1012.97  1013.09  1012.03
  3    1   2012-01-01  1015.67  1014.11  1012.91  1014.06  1015.51  1015.88
  4    2   2012-02-01  1013.26  1012.92  1013.61  1013.18  1011.26  1008.80
  5    3   2012-10-01  1011.50  1011.11  1008.60  1007.07  1008.17  1010.06
  6    4   2012-11-01  1012.67  1011.17  1010.47  1010.24  1010.43  1010.90
  7    5   2012-12-01  1009.80  1010.17  1010.74  1010.72  1010.61  1012.15
  8    6   2013-01-01  1014.58  1013.30  1013.73  1012.89  1011.43  1011.80
  9    7   2013-02-01  1015.19  1013.97  1013.89  1013.91  1013.43  1011.11
  10   8   2013-10-01  1007.15  1010.12  1009.88  1009.47  1008.08  1008.35
  11   9   2013-11-01  1011.98  1011.46  1012.38  1014.27  1013.73  1012.49
  12  10   2013-12-01  1016.33  1016.26  1014.47  1013.72  1012.13  1012.41
  13  11   2014-01-01  1015.68  1013.34  1012.22  1013.22  1012.63  1011.37
  14  12   2014-02-01  1011.69  1008.58  1006.13  1005.61  1006.28  1006.33
  15  13   2014-10-01  1010.85  1010.07  1008.86  1008.74  1009.45  1011.89
  16  14   2014-11-01  1009.82  1010.80  1012.60  1012.98  1013.05  1011.94
  17  15   2014-12-01  1010.10  1011.37  1011.13  1012.84  1015.01  1013.72
  18  16   2015-01-01  1018.10  1018.43  1016.61  1013.04  1010.62  1010.23
  19  17   2015-02-01  1017.24  1017.93  1018.05  1016.92  1016.98  1017.54
  20  18   2015-10-01  1011.22  1010.97  1010.41  1010.60  1010.96  1011.22
  21  19   2015-11-01  1014.97  1015.22  1014.31  1012.89  1010.98  1010.44
  22  20   2015-12-01  1012.55  1012.12  1012.52  1012.37  1013.84  1015.29
  23  21   2016-01-01  1019.11  1017.96  1016.01  1014.81  1013.54  1014.17
  24  22   2016-02-01  1012.54  1015.56  1015.71  1014.56  1014.67  1018.76
  25  23   2016-10-01  1008.89  1008.47  1007.18  1006.91  1006.73  1008.18
  26  24   2016-11-01  1012.79  1013.98  1014.58  1012.23  1009.86  1009.65
  27  25   2016-12-01  1016.86  1016.16  1015.39  1014.32  1013.74  1015.07
  28  26   2017-01-01  1015.76  1014.10  1013.84  1012.96  1012.34  1010.60
  29  27   2017-02-01  1014.21  1015.26  1014.23  1011.67  1010.69  1009.80
  30  28   2017-10-01  1009.04  1007.45  1007.44  1009.05  1010.15  1009.71
  31  29   2017-11-01  1013.68  1011.33  1012.00  1011.97  1013.19  1012.18
  32  30   2017-12-01  1012.16  1012.63  1012.48  1012.26  1013.50  1012.88
  33  31   2018-01-01  1013.49  1012.55  1011.88  1010.84  1009.47  1008.59
  34  32   2018-02-01  1016.03  1016.00  1018.19  1017.67  1019.01  1018.11
  35  33   2018-10-01  1010.47  1011.63  1011.63  1011.91  1012.22  1011.63
  36  34   2018-11-01  1013.50  1013.96  1014.10  1013.05  1012.12  1012.11
  37  35   2018-12-01  1012.48  1011.29  1011.47  1011.69  1010.70  1009.97
  38  36   2019-01-01  1019.06  1018.25  1018.03  1016.94  1015.36  1014.87
  39  37   2019-02-01  1014.93  1013.13  1012.71  1012.92  1011.68  1009.89
  40  38   2019-10-01  1009.73  1009.64  1009.30  1009.99  1010.62  1011.12
  41  39   2019-11-01  1010.27  1010.69  1011.01  1012.42  1010.78  1009.42
  42  40   2019-12-01  1012.81  1015.07  1017.05  1018.56  1019.41  1020.43
  43  41   2020-01-01  1017.80  1018.04  1016.21  1014.33  1013.76  1013.74
  44  42   2020-02-01  1014.57  1014.85  1013.17  1011.85  1012.19  1012.60
  45  43   2020-10-01  1005.67  1006.21  1007.56  1008.25  1008.60  1008.88
  46  44   2020-11-01  1012.18  1012.74  1013.72  1013.71  1013.32  1013.43
  47  45   2020-12-01  1016.17  1014.73  1015.23  1016.08  1016.58  1016.28
  48  46   2021-01-01  1018.63  1017.35  1015.20  1015.49  1014.24  1012.99
  49  47   2021-02-01  1014.44  1014.14  1014.30  1015.04  1014.19  1013.19
  50  48   2021-10-01  1008.12  1008.74  1008.64  1008.16  1007.42  1005.93
  51  49   2021-11-01  1013.23  1013.04  1012.50  1011.41  1009.71  1007.97
  52  50   2021-12-01  1015.80  1017.00  1018.68  1018.13  1017.43  1016.91
  53   1   2022-01-01  1017.75  1016.89  1015.26  1014.98  1013.66  1014.12
  54   2   2022-02-01  1010.90  1012.02  1012.12  1013.77  1015.52  1014.63

            7        8  ...       23       24       25       26       27  \
  0   1011.17  1010.20  ...  1010.76  1010.23  1011.34  1011.84  1011.89
  1   1008.03  1007.20  ...  1014.07  1015.40  1013.95  1012.35  1011.31
  2   1012.05  1011.94  ...  1012.88  1015.78  1018.56  1018.65  1016.88
  3   1017.72  1018.06  ...  1010.91  1011.27  1011.65  1012.56  1010.76
  4   1008.16  1009.66  ...  1005.75  1005.46  1004.80  1005.08  1006.57
  5   1010.11  1010.07  ...  1010.93  1010.20  1009.78  1009.08  1008.67
  6   1009.76  1008.36  ...  1008.60  1010.51  1011.46  1010.77  1010.16
  7   1011.02  1011.34  ...  1014.53  1016.29  1013.54  1011.60  1010.58
  8   1012.20  1011.64  ...  1013.16  1012.54  1012.09  1012.41  1013.80
  9   1008.35  1008.48  ...  1015.38  1013.40  1011.79  1010.17  1007.95
  10  1009.30  1010.10  ...  1012.52  1012.21  1013.81  1014.58  1013.70
  11  1012.23  1010.61  ...  1010.88  1010.65  1009.57  1009.86  1011.42
  12  1013.45  1012.37  ...  1016.96  1017.48  1017.28  1016.62  1017.87
  13  1011.15  1011.98  ...  1018.49  1014.48  1012.48  1014.52  1015.37
  14  1006.42  1006.23  ...  1013.56  1013.11  1012.19  1010.95  1011.90
  15  1011.67  1011.46  ...  1011.90  1011.71  1011.75  1012.54  1011.60
  16  1011.51  1012.14  ...  1012.04  1011.58  1010.59  1009.18  1009.71
  17  1012.41  1014.19  ...  1016.09  1015.77  1014.03  1011.86  1012.67
  18  1011.51  1015.12  ...  1014.58  1013.35  1013.90  1013.39  1011.88
  19  1015.70  1016.24  ...  1012.47  1010.20  1008.99  1008.88  1009.33
  20  1011.05  1010.99  ...  1011.04  1012.27  1013.21  1013.10  1012.37
  21  1012.16  1012.91  ...  1011.81  1011.37  1011.94  1013.02  1014.29
  22  1016.55  1015.76  ...  1014.23  1012.50  1012.83  1014.45  1016.48
  23  1015.09  1014.30  ...  1014.31  1022.85  1024.58  1021.61  1018.09
  24  1021.78  1019.35  ...  1013.14  1016.51  1020.20  1020.62  1019.59
  25  1008.18  1008.90  ...  1007.01  1007.45  1008.60  1010.82  1012.48
  26  1010.88  1011.42  ...  1009.72  1010.14  1010.23  1010.87  1012.68
  27  1014.06  1012.36  ...  1012.91  1012.30  1012.25  1011.84  1013.72
  28  1008.84  1008.96  ...  1018.28  1017.70  1017.96  1017.01  1016.06
  29  1008.96  1009.50  ...  1010.00  1011.29  1012.89  1013.60  1014.51
  30  1008.66  1008.42  ...  1011.04  1014.10  1015.08  1013.71  1011.98
  31  1011.52  1012.19  ...  1012.42  1015.12  1015.78  1014.90  1012.86
  32  1012.24  1014.24  ...  1012.10  1013.11  1014.21  1015.17  1014.80
  33  1009.45  1010.29  ...  1008.89  1008.44  1008.10  1008.46  1008.72
  34  1015.02  1013.64  ...  1013.25  1013.63  1011.51  1011.92  1011.70
  35  1011.61  1010.81  ...  1011.66  1012.16  1012.58  1013.42  1013.89
  36  1012.37  1011.50  ...  1015.23  1014.18  1013.51  1013.95  1015.92
  37  1010.74  1012.90  ...  1012.47  1012.12  1011.17  1009.81  1009.58
  38  1013.64  1013.33  ...  1015.52  1014.71  1015.12  1017.06  1017.11
  39  1010.78  1011.07  ...  1008.36  1008.63  1009.36  1010.52  1009.81
  40  1011.16  1011.23  ...  1007.96  1009.48  1011.38  1011.52  1010.91
  41  1010.89  1014.10  ...  1013.12  1012.68  1014.43  1013.98  1013.13
  42  1020.26  1020.00  ...  1011.49  1011.94  1011.10  1011.34  1013.22
  43  1012.64  1012.90  ...  1011.31  1010.53  1008.93  1008.84  1009.65
  44  1013.20  1015.16  ...  1017.40  1014.74  1012.35  1012.54  1012.56
  45  1008.64  1008.28  ...  1011.37  1011.84  1010.77  1010.94  1009.87
  46  1014.50  1015.08  ...  1013.11  1012.99  1012.89  1013.69  1014.92
  47  1015.71  1015.75  ...  1012.58  1011.89  1012.57  1012.30  1010.83
  48  1012.07  1013.96  ...  1011.15  1011.56  1011.04  1011.50  1011.67
  49  1012.24  1011.09  ...  1010.08  1008.40  1006.24  1004.28  1005.45
  50  1004.61  1003.83  ...  1015.21  1015.08  1013.52  1012.33  1012.16
  51  1007.80  1011.00  ...  1013.18  1014.70  1014.53  1014.41  1015.51
  52  1016.72  1016.97  ...  1012.63  1012.30  1013.87  1015.64  1017.06
  53  1014.99  1014.69  ...  1010.66  1010.19  1010.22  1010.70  1010.80
  54  1011.54  1010.64  ...  1017.55  1019.04  1018.41  1016.05  1014.37

           28       29       30       31    ค่าเฉลี่ย
  0   1012.29  1011.67  1011.30  1011.52  1010.350645
  1   1009.59  1010.13  1010.47      NaN  1011.717000
  2   1016.05  1014.98  1015.53  1016.40  1016.470000
  3   1010.26  1010.69  1012.34  1014.52  1012.484516
  4   1005.96  1006.53  1010.47      NaN  1009.749667
  5   1008.41  1008.71  1008.70  1011.83  1010.386452
  6   1010.18  1010.04  1009.54      NaN  1010.464333
  7   1009.61  1009.90  1011.64  1014.86  1011.622581
  8   1016.45  1015.31  1014.99  1015.58  1013.629677
  9   1006.82      NaN      NaN      NaN  1011.207500
  10  1013.78  1013.54  1012.81  1012.40  1010.755161
  11  1014.45  1016.41  1015.26      NaN  1011.742333
  12  1016.97  1016.84  1017.00  1017.50  1014.554839
  13  1013.99  1014.53  1015.39  1014.49  1015.809032
  14  1010.65  1017.86  1016.45      NaN  1011.170667
  15  1010.97  1011.07  1010.28  1009.99  1011.508710
  16  1009.71  1009.31  1008.11      NaN  1012.142333
  17  1015.48  1016.54  1014.73  1015.75  1015.031935
  18  1010.83  1012.02  1013.99  1016.10  1015.371935
  19  1009.39      NaN      NaN      NaN  1013.369286
  20  1013.38  1013.26  1013.24  1013.93  1011.945161
  21  1015.72  1015.50  1014.26      NaN  1012.320333
  22  1018.15  1017.30  1016.83  1018.79  1014.545161
  23  1014.91  1012.85  1012.14  1010.96  1014.070645
  24  1018.81  1018.79  1014.23      NaN  1015.699000
  25  1011.16  1011.55  1012.69  1012.93  1008.360000
  26  1014.55  1015.79  1016.13      NaN  1011.899667
  27  1016.30  1017.37  1017.80  1016.77  1013.720323
  28  1014.32  1012.96  1012.88  1013.95  1013.325484
  29  1013.49  1016.69  1017.07      NaN  1013.891333
  30  1012.53  1013.79  1015.20  1014.65  1010.060968
  31  1012.40  1012.22  1011.47      NaN  1011.561667
  32  1014.75  1014.72  1014.49  1015.22  1014.673226
  33  1008.65  1009.56  1012.29  1013.50  1011.680000
  34  1009.53      NaN      NaN      NaN  1013.448929
  35  1013.66  1012.70  1012.71  1013.87  1011.947097
  36  1015.71  1015.89  1014.52      NaN  1012.627667
  37  1011.02  1014.95  1017.04  1019.08  1013.455161
  38  1015.93  1014.39  1014.12  1014.12  1014.759677
  39  1008.33      NaN      NaN      NaN  1011.753571
  40  1010.81  1011.95  1012.02  1010.36  1011.002903
  41  1014.15  1014.29  1013.60  1010.36  1012.421613
  42  1014.32  1013.81  1014.76  1016.49  1014.847742
  43  1011.14  1013.80  1015.25  1015.43  1012.816774
  44  1011.53  1010.22      NaN      NaN  1013.882414
  45  1007.73  1006.46  1011.34  1012.11  1008.659677
  46  1015.28  1015.33  1015.85      NaN  1013.199000
  47  1009.91  1009.95  1013.86  1018.27  1013.962903
  48  1013.78  1015.66  1015.24  1014.93  1014.457742
  49  1007.80      NaN      NaN      NaN  1012.162857
  50  1012.33  1013.04  1013.26  1012.96  1009.382903
  51  1014.45  1013.37  1013.98      NaN  1012.167000
  52  1017.58  1016.40  1017.83  1018.39  1015.712903
  53  1010.52  1008.55  1007.99  1008.91  1012.889032
  54  1013.04  1013.37  1013.98      NaN  1012.456667

  [55 rows x 34 columns],
     ลำดับ   เดือน/ปี        1        2        3        4        5        6  \
  0    1   2011-10-01  1006.30  1007.38  1008.07  1008.44  1010.51  1011.65
  1    2   2011-11-01  1012.28  1011.23  1011.08  1010.96  1010.57  1009.20
  2    3   2011-12-01  1012.15  1013.75  1013.24  1013.94  1013.35  1012.62
  3    1   2012-01-01  1016.56  1014.88  1013.41  1015.85  1016.94  1017.13
  4    2   2012-02-01  1013.98  1013.75  1014.96  1013.52  1011.85  1008.82
  5    3   2012-10-01  1011.86  1011.24  1008.82  1007.46  1008.65  1010.53
  6    4   2012-11-01  1013.26  1011.77  1010.84  1010.77  1011.02  1011.49
  7    5   2012-12-01  1010.12  1010.89  1011.93  1011.30  1012.01  1013.16
  8    6   2013-01-01  1015.52  1014.01  1015.36  1014.22  1012.47  1013.17
  9    7   2013-02-01  1015.63  1014.87  1014.45  1014.43  1013.88  1011.52
  10   8   2013-10-01  1008.16  1010.72  1010.26  1009.77  1009.01  1009.40
  11   9   2013-11-01  1012.63  1012.18  1013.27  1014.89  1014.00  1013.33
  12  10   2013-12-01  1018.12  1017.26  1015.40  1014.51  1013.32  1013.94
  13  11   2014-01-01  1016.50  1014.10  1013.14  1014.74  1013.33  1012.24
  14  12   2014-02-01  1012.30  1009.01  1006.93  1006.93  1007.65  1006.98
  15  13   2014-10-01  1010.38  1009.77  1008.49  1008.50  1009.68  1012.54
  16  14   2014-11-01  1009.73  1011.22  1013.22  1013.44  1012.91  1011.66
  17  15   2014-12-01  1009.57  1011.67  1011.20  1013.94  1015.67  1013.88
  18  16   2015-01-01  1019.36  1019.00  1016.83  1012.56  1010.37  1010.22
  19  17   2015-02-01  1018.10  1018.53  1018.91  1017.89  1017.88  1018.78
  20  18   2015-10-01  1011.43  1010.59  1010.31  1010.19  1011.24  1011.39
  21  19   2015-11-01  1015.78  1015.71  1014.71  1013.08  1011.65  1010.84
  22  20   2015-12-01  1012.63  1012.52  1012.89  1013.22  1013.68  1016.22
  23  21   2016-01-01  1020.44  1018.43  1016.06  1015.07  1013.57  1014.51
  24  22   2016-02-01  1014.60  1017.76  1017.24  1016.22  1016.41  1021.21
  25  23   2016-10-01  1009.03  1009.01  1007.89  1007.33  1006.95  1008.21
  26  24   2016-11-01  1014.11  1014.77  1015.27  1012.88  1010.39  1010.32
  27  25   2016-12-01  1017.99  1017.40  1016.53  1015.34  1014.75  1016.21
  28  26   2017-01-01  1016.87  1016.02  1015.54  1013.97  1012.69  1011.53
  29  27   2017-02-01  1015.25  1016.18  1014.83  1012.31  1011.34  1010.50
  30  28   2017-10-01  1009.45  1007.85  1008.01  1010.19  1010.96  1010.06
  31  29   2017-11-01  1014.21  1012.58  1012.67  1012.67  1013.95  1012.36
  32  30   2017-12-01  1013.27  1014.05  1013.62  1013.72  1014.84  1013.80
  33  31   2018-01-01  1015.11  1013.35  1012.87  1011.36  1010.14  1009.56
  34  32   2018-02-01  1017.30  1018.16  1020.34  1019.62  1021.50  1019.25
  35  33   2018-10-01  1011.32  1012.28  1012.62  1012.46  1012.69  1012.16
  36  34   2018-11-01  1014.05  1014.46  1014.63  1013.48  1012.65  1012.85
  37  35   2018-12-01  1013.16  1011.67  1012.25  1012.76  1011.48  1011.00
  38  36   2019-01-01  1020.65  1019.75  1019.38  1018.03  1016.45  1016.02
  39  37   2019-02-01  1016.01  1013.86  1013.72  1013.30  1012.87  1010.74
  40  38   2019-10-01  1010.23  1010.34  1010.38  1010.91  1010.90  1011.60
  41  39   2019-11-01  1010.73  1011.23  1012.17  1013.29  1011.59  1009.73
  42  40   2019-12-01  1014.25  1017.10  1018.92  1020.01  1020.69  1021.80
  43  41   2020-01-01  1019.30  1019.43  1017.49  1015.54  1015.02  1014.69
  44  42   2020-02-01  1015.53  1015.67  1014.19  1013.30  1013.26  1013.59
  45  43   2020-10-01  1005.81  1006.41  1008.11  1008.64  1008.74  1008.96
  46  44   2020-11-01  1013.05  1013.70  1014.73  1014.18  1013.68  1013.93
  47  45   2020-12-01  1016.84  1015.95  1016.66  1017.23  1017.64  1017.35
  48  46   2021-01-01  1019.91  1018.33  1016.72  1016.80  1015.83  1014.01
  49  47   2021-02-01  1015.52  1015.28  1016.02  1016.56  1015.32  1013.97
  50  48   2021-10-01  1008.43  1008.96  1009.00  1009.13  1008.16  1006.26
  51  49   2021-11-01  1013.43  1013.23  1012.50  1011.65  1009.89  1007.81
  52  50   2021-12-01  1016.78  1018.05  1019.51  1019.14  1018.00  1017.52
  53   1   2022-01-01  1019.01  1018.09  1016.47  1015.63  1014.28  1014.30
  54   2   2022-02-01  1012.84  1013.41  1014.17  1015.54  1016.44  1014.83

            7        8  ...       23       24       25       26       27  \
  0   1011.24  1010.68  ...  1011.09  1010.64  1012.01  1012.47  1012.46
  1   1007.99  1007.38  ...  1015.49  1016.09  1014.62  1012.80  1011.83
  2   1012.48  1012.96  ...  1014.23  1017.58  1019.77  1019.71  1017.34
  3   1019.21  1019.57  ...  1013.13  1012.45  1013.59  1013.15  1011.56
  4   1008.15  1011.78  ...  1005.76  1005.13  1004.94  1006.42  1008.93
  5   1010.41  1010.51  ...  1011.63  1010.67  1010.17  1009.78  1008.53
  6   1010.06  1008.56  ...  1008.87  1010.93  1011.45  1011.22  1011.43
  7   1012.68  1012.26  ...  1016.81  1017.31  1014.43  1012.45  1011.32
  8   1013.46  1012.46  ...  1014.11  1013.65  1013.57  1013.25  1015.31
  9   1008.45  1009.37  ...  1017.17  1014.55  1012.39  1011.08  1008.62
  10  1009.84  1010.41  ...  1013.40  1012.99  1014.43  1015.31  1014.35
  11  1012.44  1011.36  ...  1011.80  1011.27  1010.90  1010.92  1012.67
  12  1014.50  1012.96  ...  1017.91  1019.18  1018.52  1017.89  1019.19
  13  1011.79  1012.67  ...  1018.79  1014.60  1013.25  1015.46  1016.00
  14  1006.61  1006.07  ...  1014.25  1013.54  1012.41  1012.06  1012.77
  15  1011.63  1011.17  ...  1012.08  1011.22  1011.65  1012.91  1011.53
  16  1011.32  1012.61  ...  1012.14  1011.46  1010.24  1008.80  1009.89
  17  1012.96  1015.26  ...  1016.39  1016.21  1014.59  1012.69  1013.78
  18  1012.57  1016.71  ...  1014.45  1013.65  1013.98  1013.60  1012.06
  19  1016.18  1017.64  ...  1011.91  1009.98  1008.45  1008.39  1009.22
  20  1011.14  1010.77  ...  1011.27  1012.50  1013.24  1013.03  1012.54
  21  1012.62  1012.97  ...  1012.39  1011.73  1012.61  1014.03  1014.99
  22  1017.58  1016.32  ...  1014.32  1012.83  1014.12  1015.35  1017.56
  23  1015.21  1014.35  ...  1017.25  1025.30  1025.71  1022.04  1018.56
  24  1023.33  1020.46  ...  1015.11  1018.99  1022.31  1022.45  1020.88
  25  1008.48  1009.09  ...  1007.82  1008.25  1009.59  1011.47  1012.93
  26  1011.35  1012.88  ...  1010.50  1011.44  1011.31  1012.29  1014.14
  27  1014.97  1013.43  ...  1013.82  1013.30  1013.06  1013.02  1015.64
  28  1010.04  1009.86  ...  1020.24  1018.85  1019.17  1019.07  1017.73
  29  1010.12  1010.76  ...  1010.80  1014.14  1015.08  1015.49  1016.60
  30  1008.99  1008.86  ...  1012.09  1014.78  1015.84  1014.46  1012.80
  31  1012.41  1012.64  ...  1014.21  1016.89  1017.49  1016.82  1014.12
  32  1013.33  1015.88  ...  1013.09  1014.90  1015.49  1015.76  1015.56
  33  1010.31  1010.84  ...  1010.17  1009.18  1008.69  1009.70  1009.49
  34  1016.39  1015.10  ...  1014.25  1014.41  1013.23  1013.41  1011.82
  35  1012.09  1011.40  ...  1012.08  1012.77  1013.43  1014.16  1015.01
  36  1013.24  1012.27  ...  1016.18  1015.12  1014.62  1014.96  1016.58
  37  1011.93  1013.43  ...  1013.15  1013.01  1011.76  1011.03  1010.45
  38  1014.73  1014.50  ...  1016.75  1015.94  1016.44  1018.66  1018.31
  39  1011.14  1011.32  ...  1009.26  1010.07  1011.15  1011.96  1010.22
  40  1011.75  1011.94  ...  1008.50  1010.22  1012.42  1012.36  1011.36
  41  1012.22  1015.60  ...  1013.87  1013.91  1015.61  1014.95  1014.69
  42  1021.40  1021.01  ...  1012.33  1012.79  1011.81  1012.50  1014.88
  43  1013.73  1013.75  ...  1012.08  1011.45  1009.96  1011.21  1011.76
  44  1014.30  1016.40  ...  1019.05  1015.50  1013.27  1013.78  1013.32
  45  1009.19  1008.32  ...  1011.70  1012.08  1011.52  1011.16  1010.02
  46  1015.32  1015.97  ...  1014.20  1014.52  1013.78  1014.76  1016.06
  47  1017.13  1016.91  ...  1013.25  1013.39  1013.84  1013.96  1011.83
  48  1013.66  1016.59  ...  1011.99  1011.88  1011.67  1012.66  1012.79
  49  1013.03  1012.73  ...  1011.08  1009.11  1006.60  1004.84  1006.20
  50  1004.35  1003.34  ...  1014.38  1015.53  1013.98  1012.96  1012.26
  51  1008.52  1012.22  ...  1014.86  1015.99  1015.54  1015.51  1016.27
  52  1017.68  1017.41  ...  1013.37  1013.24  1014.85  1016.78  1018.46
  53  1015.93  1015.20  ...  1011.20  1010.75  1010.67  1010.97  1011.35
  54  1012.33  1011.25  ...  1019.80  1020.63  1019.32  1017.28  1016.43

           28       29       30       31    ค่าเฉลี่ย
  0   1012.85  1012.43  1011.69  1012.28  1010.754839
  1   1010.00  1010.60  1011.13      NaN  1012.184667
  2   1017.01  1015.64  1016.89  1017.73  1016.470000

In [ ]:
finish = Finish_data.sort_values("Date",ascending=False) #วันล่าสุดอยู่ข้างบน ข้อมูลปริมาณน้ำฝนรวม5จังหวัด
finish